.invoice {
  --muted: #667085;
  color: #222;
  font-size: 11pt;
}
.header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.muted {
  color: var(--muted);
  font-size: 10pt;
}
.items > .item {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.amount {
  width: 80pt;
  text-align: right;
}
